# House Price Index Data Set
## KEY: HPI1
## Source: 

FHFA House Price Indexes (HPIs). (2014, May 27). [â€‹FHFA estimates and publishes quarterly house price indexes for single-family detached properties using data on conventional conforming mortgage transactions obtained from the Federal Home Loan Mortgage Corporation (Freddie Mac) and the Federal National Mortgage Association (Fannie Mae).]. Federal Housing Finance Agency. http://www.fhfa.gov/DataTools/Downloads/Documents/HPI/HPI_master.csv

In [2]:
# import needed libraries
from numpy import *
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# load the hpi csv into a dataframe
dfHPI = pd.read_csv(r'../DataSet/HPI_master.csv',header=0,encoding = "ISO-8859-1")

In [4]:
# show the first 5 rows to check data loaded as epected
dfHPI.head(5)

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.00
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,101.00,101.08
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.36,100.98
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.75,101.04
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.39,101.44

In [5]:
# show last 5 rows to check data loaded as epected
dfHPI.tail(5)

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
112989,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2019,2,165.06,165.10
112990,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2019,3,157.94,162.01
112991,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2019,4,159.22,154.24
112992,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2020,1,147.27,150.59
112993,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2020,2,155.36,155.08

In [6]:
# run describe to get basics
dfHPI.describe(include="all")

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
count,112994,112994,112994,112994,112994,112994,112994.000000,112994.000000,112993.000000,37164.000000
unique,4,3,2,4,466,466,NaN,NaN,NaN,NaN
top,traditional,all-transactions,quarterly,MSA,Mountain Division,DV_ESC,NaN,NaN,NaN,NaN
freq,106580,75830,109444,78948,773,773,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,2002.349877,2.614820,162.694086,180.209982
std,NaN,NaN,NaN,NaN,NaN,NaN,10.887382,1.435539,77.745761,66.684389
min,NaN,NaN,NaN,NaN,NaN,NaN,1975.000000,1.000000,18.340000,70.650000
25%,NaN,NaN,NaN,NaN,NaN,NaN,1994.000000,2.000000,106.370000,125.540000
50%,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,3.000000,152.040000,173.880000
75%,NaN,NaN,NaN,NaN,NaN,NaN,2011.000000,4.000000,198.300000,216.630000
max,NaN,NaN,NaN,NaN,NaN,NaN,2020.000000,12.000000,947.630000,584.770000

In [7]:
# there are 4 values for hpi_type, what are they and what are their counts
dfHPI.hpi_type.value_counts()

traditional      106580
non-metro          4794
distress-free      1416
developmental       204
Name: hpi_type, dtype: int64

In [8]:
# there are 3 values for hpi_flavor, what are they and what are their counts
dfHPI.hpi_flavor.value_counts()

all-transactions    75830
purchase-only       24066
expanded-data       13098
Name: hpi_flavor, dtype: int64

In [9]:
# there are 2 values for frequency, what are they and what are their counts
dfHPI.frequency.value_counts()

quarterly    109444
monthly        3550
Name: frequency, dtype: int64

In [10]:
# there are 4 values for level, what are they and what are their counts
dfHPI.level.value_counts()

MSA                       78948
State                     26112
USA or Census Division     7730
Puerto Rico                 204
Name: level, dtype: int64

In [11]:
# We want to better understand place_name, but there are 466 unique values, I want to scan them
dfHPI.place_name.value_counts()

Mountain Division                773
West North Central Division      773
East South Central Division      773
East North Central Division      773
West South Central Division      773
                                ...
Johnstown, PA                    101
Beckley, WV                       93
California-Lexington Park, MD     91
Hinesville, GA                    79
The Villages, FL                  79
Name: place_name, Length: 466, dtype: int64

**QUESTION** how many cities are in Virginia in the data set?

In [13]:
dfHPI[dfHPI['place_name'].str.contains(", VA")].groupby(['place_name']).count()

,hpi_type,hpi_flavor,frequency,level,place_id,yr,period,index_nsa,index_sa
place_name,,,,,,,,,
"Blacksburg-Christiansburg, VA",132,132,132,132,132,132,132,132,0
"Charlottesville, VA",148,148,148,148,148,148,148,148,0
"Harrisonburg, VA",134,134,134,134,134,134,134,134,0
"Lynchburg, VA",137,137,137,137,137,137,137,137,0
"Richmond, VA",295,295,295,295,295,295,295,295,118
"Roanoke, VA",161,161,161,161,161,161,161,161,0
"Staunton, VA",125,125,125,125,125,125,125,125,0
"Virginia Beach-Norfolk-Newport News, VA-NC",411,411,411,411,411,411,411,411,236
"Winchester, VA-WV",123,123,123,123,123,123,123,123,0

What about **NY state?**

In [14]:
dfHPI[dfHPI['place_name'].str.contains(", NY")].groupby(['place_name']).count()

,hpi_type,hpi_flavor,frequency,level,place_id,yr,period,index_nsa,index_sa
place_name,,,,,,,,,
"Albany-Schenectady-Troy, NY",281,281,281,281,281,281,281,281,118
"Binghamton, NY",147,147,147,147,147,147,147,147,0
"Buffalo-Cheektowaga, NY",290,290,290,290,290,290,290,290,118
"Elmira, NY",119,119,119,119,119,119,119,119,0
"Glens Falls, NY",116,116,116,116,116,116,116,116,0
"Ithaca, NY",133,133,133,133,133,133,133,133,0
"Kingston, NY",136,136,136,136,136,136,136,136,0
"Nassau County-Suffolk County, NY (MSAD)",416,416,416,416,416,416,416,416,236
"New York-Jersey City-White Plains, NY-NJ (MSAD)",415,415,415,415,415,415,415,415,236
"Poughkeepsie-Newburgh-Middletown, NY",159,159,159,159,159,159,159,159,0
"Rochester, NY",285,285,285,285,285,285,285,285,118
"Syracuse, NY",286,286,286,286,286,286,286,286,118
"Utica-Rome, NY",138,138,138,138,138,138,138,138,0
"Watertown-Fort Drum, NY",107,107,107,107,107,107,107,107,0

Looks like **MSA** == local jurisdiction

In [15]:
# what are the value counts on period
dfHPI.period.value_counts()

2     28015
1     27885
4     27412
3     27332
7       300
6       300
5       300
12      290
11      290
10      290
9       290
8       290
Name: period, dtype: int64

Looks like period 1,2,3,4 are used for **both quarterly and monthly** frequencies. 

**QUESTION** Need to understand the 10 fewer values for August - December, and reasons that quarterly values are not at the same value counts.

#### Want to investigate the number of observations by year (do we have more date for more recent years)?

In [16]:
pd.set_option('display.max_rows', None)
dfHPI.groupby(['yr','frequency','level']).count()

                                       hpi_type  hpi_flavor  place_name  \
yr   frequency level
1975 quarterly MSA                           32          32          32
               State                        204         204         204
               USA or Census Division        40          40          40
1976 quarterly MSA                          141         141         141
               State                        204         204         204
               USA or Census Division        40          40          40
1977 quarterly MSA                          281         281         281
               State                        204         204         204
               USA or Census Division        40          40          40
1978 quarterly MSA                          445         445         445
               State                        204         204         204
               USA or Census Division        40          40          40
1979 quarterly MSA                          570         570         570
               State                        204         204         204
               USA or Census Division        40          40          40
1980 quarterly MSA                          653         653         653
               State                        204         204         204
               USA or Census Division        40          40          40
1981 quarterly MSA                          645         645         645
               State                        204         204         204
               USA or Census Division        40          40          40
1982 quarterly MSA                          655         655         655
               State                        204         204         204
               USA or Census Division        40          40          40
1983 quarterly MSA                          763         763         763
               State                        204         204         204
               USA or Census Division        40          40          40
1984 quarterly MSA                          846         846         846
               State                        204         204         204
               USA or Census Division        40          40          40
1985 quarterly MSA                          942         942         942
               State                        204         204         204
               USA or Census Division        40          40          40
1986 quarterly MSA                         1125        1125        1125
               State                        204         204         204
               USA or Census Division        40          40          40
1987 quarterly MSA                         1297        1297        1297
               State                        204         204         204
               USA or Census Division        40          40          40
1988 quarterly MSA                         1350        1350        1350
               State                        204         204         204
               USA or Census Division        40          40          40
1989 quarterly MSA                         1389        1389        1389
               State                        204         204         204
               USA or Census Division        40          40          40
1990 quarterly MSA                         1432        1432        1432
               State                        204         204         204
               USA or Census Division        40          40          40
1991 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2106        2106        2106
               State                        612         612         612
               USA or Census Division       120         120         120
1992 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2159        2159        2159
               State                        612         612         612
               USA or Census Division       120         120         120
1993 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2210        2210        2210
               State                        612         612         612
               USA or Census Division       120         120         120
1994 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2243        2243        2243
               State                        612         612         612
               USA or Census Division       120         120         120
1995 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2246        2246        2246
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
1996 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2248        2248        2248
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
1997 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2252        2252        2252
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
1998 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2256        2256        2256
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
1999 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2256        2256        2256
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2000 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2259        2259        2259
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2001 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2002 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2003 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2004 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2005 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2006 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2007 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2008 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2009 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2010 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2011 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2012 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2013 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2014 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2015 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2016 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2017 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2018 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2264        2264        2264
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2019 monthly   USA or Census Division       120         120         120
     quarterly MSA                         2263        2263        2263
               Puerto Rico                    8           8           8
               State                        800         800         800
               USA or Census Division       120         120         120
2020 monthly   USA or Census Division        70          70          70
     quarterly MSA                         1132        1132        1132
               Puerto Rico                    4           4           4
               State                        400         400         400
               USA or Census Division        60          60          60

                                       place_id  period  index_nsa  index_sa
yr   frequency level
1975 quarterly MSA                           32      32         32         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1976 quarterly MSA                          141     141        141         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1977 quarterly MSA                          281     281        281         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1978 quarterly MSA                          445     445        445         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1979 quarterly MSA                          570     570        570         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1980 quarterly MSA                          653     653        653         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1981 quarterly MSA                          645     645        645         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1982 quarterly MSA                          655     655        655         0
               State                        204     204        203         0
               USA or Census Division        40      40         40         0
1983 quarterly MSA                          763     763        763         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1984 quarterly MSA                          846     846        846         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1985 quarterly MSA                          942     942        942         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1986 quarterly MSA                         1125    1125       1125         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1987 quarterly MSA                         1297    1297       1297         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1988 quarterly MSA                         1350    1350       1350         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1989 quarterly MSA                         1389    1389       1389         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1990 quarterly MSA                         1432    1432       1432         0
               State                        204     204        204         0
               USA or Census Division        40      40         40         0
1991 monthly   USA or Census Division       120     120        120       120
     quarterly MSA                         2106    2106       2106       648
               State                        612     612        612       408
               USA or Census Division       120     120        120        80
1992 monthly   USA or Census Division       120     120        120       120
     quarterly MSA                         2159    2159       2159       648
               State                        612     612        612       408
               USA or Census Division       120     120        120        80
1993 monthly   USA or Census Division       120     120        120       120
     quarterly MSA                         2210    2210       2210       648
               State                        612     612        612       408
               USA or Census Division       120     120        120        80
1994 monthly   USA or Census Division       120     120        120       120
     quarterly MSA                         2243    2243       2243       648
               State                        612     612        612       408
               USA or Census Division       120     120        120        80
1995 monthly   USA or Census Division       120     120        120       120
     quarterly MSA                         2246    2246       2246       648
               Puerto Rico                    8       8          8         4
               State                        800     800        800       408
               USA or Census Division       120     120        120        80
1996 monthly   USA or Census Division       120     120        120       120
     quarterly MSA                         2248    2248       2248       648
               Puerto Rico                    8       8          8         4
               State                        800     800        800       408
               USA or Census Division       120     120        120        80
1997 monthly   USA or Census Division       120     120        120       120

In [17]:
#dfHPI[level='MSA'].groupby(['yr','frequency']).count()

dfHPI[(dfHPI.level == 'MSA')].groupby(['yr','frequency']).count()

,,hpi_type,hpi_flavor,level,place_name,place_id,period,index_nsa,index_sa
yr,frequency,,,,,,,,
1975,quarterly,32,32,32,32,32,32,32,0
1976,quarterly,141,141,141,141,141,141,141,0
1977,quarterly,281,281,281,281,281,281,281,0
1978,quarterly,445,445,445,445,445,445,445,0
1979,quarterly,570,570,570,570,570,570,570,0
1980,quarterly,653,653,653,653,653,653,653,0
1981,quarterly,645,645,645,645,645,645,645,0
1982,quarterly,655,655,655,655,655,655,655,0
1983,quarterly,763,763,763,763,763,763,763,0
1984,quarterly,846,846,846,846,846,846,846,0
1985,quarterly,942,942,942,942,942,942,942,0
1986,quarterly,1125,1125,1125,1125,1125,1125,1125,0
1987,quarterly,1297,1297,1297,1297,1297,1297,1297,0
1988,quarterly,1350,1350,1350,1350,1350,1350,1350,0
1989,quarterly,1389,1389,1389,1389,1389,1389,1389,0
1990,quarterly,1432,1432,1432,1432,1432,1432,1432,0
1991,quarterly,2106,2106,2106,2106,2106,2106,2106,648
1992,quarterly,2159,2159,2159,2159,2159,2159,2159,648
1993,quarterly,2210,2210,2210,2210,2210,2210,2210,648
1994,quarterly,2243,2243,2243,2243,2243,2243,2243,648
1995,quarterly,2246,2246,2246,2246,2246,2246,2246,648
1996,quarterly,2248,2248,2248,2248,2248,2248,2248,648
1997,quarterly,2252,2252,2252,2252,2252,2252,2252,648
1998,quarterly,2256,2256,2256,2256,2256,2256,2256,648
1999,quarterly,2256,2256,2256,2256,2256,2256,2256,648
2000,quarterly,2259,2259,2259,2259,2259,2259,2259,648
2001,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2002,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2003,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2004,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2005,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2006,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2007,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2008,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2009,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2010,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2011,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2012,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2013,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2014,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2015,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2016,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2017,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2018,quarterly,2264,2264,2264,2264,2264,2264,2264,648
2019,quarterly,2263,2263,2263,2263,2263,2263,2263,648
2020,quarterly,1132,1132,1132,1132,1132,1132,1132,324

### Basic Dataframe Information
1. There is "missing data" for some groupings
    1. Quarterly Data for 1975 - 2020
    1. Monthly data does not start until 1991
    1. Monthly data is **only** for national data
    1. Quarterly is for State, locality, and national
    1. Number of cities/local jurisidctions reporting quarterly changes year to year: min reportin localities == 1975, max == 2001 - 2019
1. Nine Virginia cities are represented, including Charlottesville, Virginia Beach, and Richmond