In [5]:
!pip install tabula-py

Requirement already satisfied: tabula-py in c:\users\katie\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: numpy in c:\users\katie\anaconda3\lib\site-packages (from tabula-py) (1.18.1)
Requirement already satisfied: distro in c:\users\katie\anaconda3\lib\site-packages (from tabula-py) (1.5.0)
Requirement already satisfied: pandas>=0.25.3 in c:\users\katie\anaconda3\lib\site-packages (from tabula-py) (1.0.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\katie\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\katie\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\katie\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->tabula-py) (1.14.0)

In [1]:
import tabula

In [2]:
!java -version

java version "1.8.0_261"
Java(TM) SE Runtime Environment (build 1.8.0_261-b12)
Java HotSpot(TM) Client VM (build 25.261-b12, mixed mode)

In [9]:
df = tabula.read_pdf('mortstatsh_1918.pdf', pages = 29)

Got stderr: Sep 30, 2020 10:38:14 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font TimesNewRomanPSMT for NewCenturySchlbk-Roman
Sep 30, 2020 10:38:14 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font TimesNewRomanPSMT for Bookman-Light
Sep 30, 2020 10:38:14 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font Arial-BoldMT for Helvetica-Condensed-Black
Sep 30, 2020 10:38:14 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font TimesNewRomanPSMT for Palatino-Roman
Sep 30, 2020 10:38:14 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font Arial-BoldMT for Helvetica-Narrow-Bold
Sep 30, 2020 10:38:17 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font TimesNewRomanPSMT for NewCenturySchlbk-Roman
Sep 30, 2020 10:38:17 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font TimesNewRomanPSMT for Bookman-Light
Sep 30, 2020 10:38:17 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font Arial-BoldMT for Helvetica-Condensed-Black
Sep 30, 2020 10:38:17 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font TimesNewRomanPSMT for Palatino-Roman
Sep 30, 2020 10:38:17 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font Arial-BoldMT for Helvetica-Narrow-Bold

In [8]:
df[2]

,". . . .. . . . . . . . . . . 2,12",Unnamed: 0,114,80,17,42,13(,537,554,Unnamed: 1,115,113,3 .. . . . .,Unnamed: 2
0,Colored. .. . . . . . . . . . . . . . . . 28,NaN,&,19,1,H,E,55,56,&,Ii,5,.. . . . .--.â€™..,. . . . . .
1,"Cleveland, Ohio. . . . . . . . . . . . . 4,48",NaN,33{,218,45,152,2X,"1,163","1,129",45:,241,155,: ;::...,2
2,"Columbus,C)hio(total) . . . . . .",NaN,7!,44,7,29,6(,208,252,8!,53,60,.-.,NaN
3,White . . . . . . . . . . . . . . . . . . . :;,NaN,5{,31,5,23,51,m,22$,7( 1:,4f 7,54,1 . . . . . . . . . . . ._.-:. -----,NaN
4,Colored... . . . . . . . . . . . . . . . . 13,NaN,1[,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Dayton, Olmo. . . . . . . . . . . . . . . 76",NaN,6;,31,1?,2,4:,1%,l%,n,43,3:,2 . . . . . .,.._.:
6,"Toledo, Ohio. . . . . . . . . . . . . . . .",NaN,8\,52,If,35,%,227,217,NaN,42,NaN,NaN,NaN
7,"Portkmd, Ore . . . . . . . . . . . . .. 1,E",NaN,NaN,NaN,NaN,NaN,7!,NaN,30s,1!,62,8 598,: 21 . ..-?. . . . . . .,-----i$
8,"milmm13eMa-$, a.(total) . . . . . 16,26",NaN,"1,3:",9;:,22;,5~,"1,192","4,El","3,842","1,451",87:,NaN,NaN,NaN
9,". . . . . . . . . . . . . . . . . . 14,80",NaN,"1,14!",821,19$,510,"1,09!","3,S93","3,312","1,292",311,566,21 . . . . . .,NaN
10,Colored. .. . . . . . . . . . . . . . . 1>45,NaN,15;,118,%,44,lx,333,33C,15{,Si,32,. ..-. . . . . . .,1
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,531",8X,50!,357,5 .-.-..,4
12,Pitt~;~ . . . . . . . . . . . . . . . . . . Pa...,NaN,54 50,394 373,8[ 7$,.2.x 223,46[ 421,"1,5271,390","1,39!",â€˜m,451,331,; .-.-..,4
13,Colored. .. . . . . . . . . . . . . . . .,NaN,NaN,21,NaN,22,$!,137,132,10:,NaN,Zf,. . . . . . -....-,NaN
14,"Scranton, Pa . . . . . . . . . . . . . . . . l,%",NaN,1$,NaN,1!,2(,NaN,234,36?,1%,18,47,3 . . . . . . -....-,NaN
15,"Providence, R. 1. . . . . . . . . . . . 1,73",NaN,17,&,1<,44 .,9;,384,37[,Zlx,9f,75,5 ------,. . . . . .
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4{,NaN,NaN,NaN
17,NaN,NaN,NaN,2C,[,â€˜x,NaN,236,217,lq,NaN,4?,..... 1,18
18,â€˜=~~:;:-::-:t.??::::::H,NaN,2,lC,<,2:,~,134,13[,NaN,3[,2,. . . . . . . . . . .,1:
19,.. ............,NaN,3,1$,NaN,1:,NaN,102,NaN,:;,1{,NaN,. . . . . 1,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,213,&,9!,6[,#,2 2,4
21,Nash~;& .. . . . . . . . . . . . . . . . . . T...,NaN,7{ 4,62 4t,i 1{,61 &,1*6f,125,m,5!,3!,3i 1$,. . . . . 1,22
22,Colored. .. . . . . . . . . . . . . . . .,NaN,33,14,(,1!,%,88,a,3(,3,NaN,2 1,NaN
23,"Rioti&+~ Vs. (total) .. . . . . .1,lC",NaN,lr,7t,11,2$,1C3,260,24,8!,%,3:,3 . . . . . . . . . . . .,NaN
24,+,NaN,41,2i,I,17,6!,178,16;,4,2[,z,3 . . . . . .,. . . . . .
25,Colored::::::::::::::::::,NaN,T,4!,NaN,NaN,3[,NaN,NaN,NaN,2:,NaN,. . . . . . . . . . .,. . . . . .
26,"Seattle, Wash. . . . . . . . . . . . . . . 1,%",NaN,5:,%,1!,;,9,#,3%,1;,NaN,:,2 . . . . . .,2
27,NaN,NaN,NaN,NaN,NaN,lf,NaN,NaN,13{,NaN,::,NaN,. . . . . . . . ..-,. . . . . .
28,.. .. ........,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"2,8 %%ie~@ti.,:..I ........",NaN,21,12,3:,w,13,473,â€˜m,;/,lx,18,4 . . . . . .,1
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,â€”,NaN,NaN,NaN,NaN