In [22]:
import tabula
import pandas as pd
import re

pd.set_option("display.max_rows", None, "display.max_columns", None)

# 2014 Quarterly Data Test

In [28]:
GDP2014 = tabula.read_pdf('GDP2014_quarterly.pdf', pages = 7, stream = True)
GDP2014

[                         Unnamed: 0  Unnamed: 1  Unnamed: 2  \
 0                               NaN         NaN         NaN
 1                               NaN        2014         NaN
 2                               NaN         NaN           I
 3     United States1 ..............  17,316,314  16,941,430
 4       New England ...............     924,937     911,347
 5       Connecticut ...............     253,036     249,336
 6       Maine .....................      55,838      54,800
 7           Massachusetts .........     459,937     454,249
 8           New Hampshire .........      71,552      69,842
 9         Rhode Island ............      54,960      54,103
 10       Vermont ..................      29,613      29,016
 11    Mideast .....................   3,143,366   3,087,518
 12      Delaware ..................      62,756      61,094
 13         District of Columbia ...     115,473     115,482
 14      Maryland ..................     348,631     341,031
 15       New Jersey ...............     549,099     539,958
 16      New York ..................   1,404,518   1,378,213
 17        Pennsylvania ............     662,890     651,740
 18      Great Lakes ...............   2,391,384   2,341,059
 19   Illinois .....................     745,875     731,827
 20    Indiana .....................     317,840     311,837
 21      Michigan ..................     451,516     441,951
 22    Ohio ........................     583,261     569,274
 23        Wisconsin ...............     292,891     286,169
 24  Plains ........................   1,131,518   1,100,382
 25    Iowa ........................     170,613     163,845
 26     Kansas .....................     147,075     143,510
 27        Minnesota ...............     316,204     309,764
 28      Missouri ..................     284,462     277,624
 29      Nebraska ..................     112,159     108,006
 30        North Dakota ............      55,136      53,026
 31        South Dakota ............      45,867      44,607
 32     Southeast ..................   3,695,095   3,611,976
 33       Alabama ..................     199,440     195,091
 34      Arkansas ..................     121,395     119,172
 35    Florida .....................     839,944     820,194
 36       Georgia ..................     476,483     464,398
 37      Kentucky ..................     188,602     184,763
 38     Louisiana ..................     251,397     244,942
 39      Mississippi ...............     104,851     103,016
 40         North Carolina .........     483,126     474,030
 41         South Carolina .........     190,304     184,447
 42        Tennessee ...............     300,604     293,594
 43   Virginia .....................     463,613     455,777
 44       West Virginia ............      75,337      72,551
 45     Southwest ..................   2,208,652   2,158,213
 46    Arizona .....................     284,156     279,983
 47       New Mexico ...............      92,959      91,326
 48         Oklahoma ...............     183,501     179,582
 49      Texas .....................   1,648,036   1,607,322
 50         Rocky Mountain .........     600,485     586,172
 51      Colorado ..................     306,663     297,603
 52      Idaho .....................      63,952      62,850
 53       Montana ..................      44,269      43,560
 54    Utah ........................     141,410     138,911
 55       Wyoming ..................      44,190      43,247
 56   Far West .....................   3,220,878   3,144,765
 57     Alaska .....................      57,080      57,371
 58    California ..................   2,311,616   2,254,347
 59     Hawaii .....................      77,389      76,067
 60        Nevada ..................     132,064     130,191
 61     Oregon .....................     215,677     208,459
 62       Washington ...............     427,052     418,329

                     Millions of dollars  Unnamed: 3  Unnamed: 4 Unnamed: 5  \
 0   Seasonally adjusted at annual rates         NaN         NaN        NaN
 1                                  2014         NaN      2014.0        NaN
 2                             II III IV         NaN         NaN          I
 3      17,225,767 17,497,215 17,600,843         NaN       100.0        NaN
 4               919,972 929,812 938,616         NaN         5.3        NaN
 5               252,980 253,856 255,972         NaN         1.5        NaN
 6                  55,588 56,240 56,726         NaN         0.3        NaN
 7               455,425 462,636 467,436         NaN         2.7        NaN
 8                  71,895 71,929 72,542         NaN         0.4        NaN
 9                  54,795 55,245 55,697         NaN         0.3        NaN
 10                 29,289 29,905 30,244         NaN         0.2        NaN
 11        3,124,845 3,172,793 3,188,307         NaN        18.2        NaN
 12                 62,375 63,646 63,908         NaN         0.4        NaN
 13              114,998 115,136 116,273         NaN         0.7        NaN
 14              347,513 351,349 354,629         NaN         2.0        NaN
 15              546,906 552,068 557,465         NaN         3.2        NaN
 16        1,393,589 1,422,242 1,424,029         NaN         8.1        NaN
 17              659,464 668,352 672,003         NaN         3.8        NaN
 18        2,379,809 2,413,833 2,430,835         NaN        13.8        NaN
 19              742,805 751,601 757,269         NaN         4.3        NaN
 20              315,952 320,434 323,139         NaN         1.8        NaN
 21              450,755 454,491 458,866         NaN         2.6        NaN
 22              578,218 592,046 593,508         NaN         3.4        NaN
 23              292,079 295,262 298,053         NaN         1.7        NaN
 24        1,128,959 1,144,482 1,152,247         NaN         6.5        NaN
 25              171,071 173,281 174,256         NaN         1.0        NaN
 26              146,670 148,403 149,718         NaN         0.8        NaN
 27              312,677 320,114 322,264         NaN         1.8        NaN
 28              283,834 286,961 289,431         NaN         1.6        NaN
 29              113,017 113,402 114,213         NaN         0.6        NaN
 30                 55,649 56,012 55,858         NaN         0.3        NaN
 31                 46,042 46,310 46,508         NaN         0.3        NaN
 32        3,678,954 3,728,938 3,760,513         NaN        21.3        NaN
 33              197,789 201,541 203,338         NaN         1.2        NaN
 34              121,242 122,108 123,060         NaN         0.7        NaN
 35              835,308 846,535 857,738         NaN         4.9        NaN
 36              472,890 482,335 486,308         NaN         2.8        NaN
 37              188,758 189,951 190,936         NaN         1.1        NaN
 38              250,163 255,368 255,113         NaN         1.5        NaN
 39              105,377 105,184 105,829         NaN         0.6        NaN
 40              478,625 488,209 491,637         NaN         2.8        NaN
 41              190,658 191,892 194,220         NaN         1.1        NaN
 42              299,506 303,206 306,109         NaN         1.7        NaN
 43              463,004 465,780 469,891         NaN         2.7        NaN
 44                 75,635 76,828 76,333         NaN         0.4        NaN
 45        2,197,472 2,241,598 2,237,326         NaN        12.8        NaN
 46              281,409 286,590 288,644         NaN         1.6        NaN
 47                 92,715 93,817 93,977         NaN         0.5        NaN
 48              182,935 186,687 184,799         NaN         1.1        NaN
 49        1,640,414 1,674,503 1,669,905         NaN         9.5        NaN
 50              597,652 607,987 610,129         NaN         3.5        NaN
 51              304,561 311,506 312,981         NaN         1.8        NaN
 52                 63,818 64,264 64,878         NaN         0.4        NaN
 53                 44,273 44,569 44,674         NaN         0.3        NaN
 54              140,214 142,686 143,830         NaN         0.8        NaN
 55                 44,786 44,962 43,765         NaN         0.3        NaN
 56        3,198,105 3,257,772 3,282,871         NaN        18.6        NaN
 57                 58,253 56,996 55,700         NaN         0.3        NaN
 58        2,292,655 2,341,652 2,357,810         NaN        13.3        NaN
 59                 77,104 77,758 78,629         NaN         0.4        NaN
 60              131,057 133,104 133,905         NaN         0.8        NaN
 61              213,520 218,898 221,829         NaN         1.2        NaN
 62              425,517 429,364 434,997         NaN         2.5        NaN

                     Percent of the U.S. Unnamed: 6  Unnamed: 7
 0   Seasonally adjusted at annual rates        NaN         NaN
 1                                  2014        NaN         NaN
 2                                II III         IV         NaN
 3                     100.0 100.0 100.0        NaN       100.0
 4                           5.4 5.3 5.3        NaN         5.3
 5                           1.5 1.5 1.5        NaN         1.5
 6                           0.3 0.3 0.3        NaN         0.3
 7                           2.7 2.6 2.6        NaN         2.7
 8                           0.4 0.4 0.4        NaN         0.4
 9                           0.3 0.3 0.3        NaN         0.3
 10                          0.2 0.2 0.2        NaN         0.2
 11                       18.2 18.1 18.1        NaN        18.1
 12                          0.4 0.4 0.4        NaN         0.4
 13                          0.7 0.7 0.7        NaN         0.7
 14                          2.0 2.0 2.0        NaN         2.0
 15                          3.2 3.2 3.2        NaN         3.2
 16                          8.1 8.1 8.1        NaN         8.1
 17                          3.8 3.8 3.8        NaN         3.8
 18                       13.8 13.8 13.8        NaN        13.8
 19                          4.3 4.3 4.3        NaN         4.3
 20                          1.8 1.8 1.8        NaN         1.8
 21                          2.6 2.6 2.6        NaN         2.6
 22                          3.4 3.4 3.4        NaN         3.4
 23                          1.7 1.7 1.7        NaN         1.7
 24                          6.5 6.6 6.5        NaN         6.5
 25                          1.0 1.0 1.0        NaN         1.0
 26                          0.8 0.9 0.8        NaN         0.9
 27                          1.8 1.8 1.8        NaN         1.8
 28                          1.6 1.6 1.6        NaN         1.6
 29                          0.6 0.7 0.6        NaN         0.6
 30                          0.3 0.3 0.3        NaN         0.3
 31                          0.3 0.3 0.3        NaN         0.3
 32                       21.3 21.4 21.3        NaN        21.4
 33                          1.2 1.1 1.2        NaN         1.2
 34                          0.7 0.7 0.7        NaN         0.7
 35                          4.8 4.8 4.8        NaN         4.9
 36                          2.7 2.7 2.8        NaN         2.8
 37                          1.1 1.1 1.1        NaN         1.1
 38                          1.4 1.5 1.5        NaN         1.4
 39                          0.6 0.6 0.6        NaN         0.6
 40                          2.8 2.8 2.8        NaN         2.8
 41                          1.1 1.1 1.1        NaN         1.1
 42                          1.7 1.7 1.7        NaN         1.7
 43                          2.7 2.7 2.7        NaN         2.7
 44                          0.4 0.4 0.4        NaN         0.4
 45                       12.7 12.8 12.8        NaN        12.7
 46                          1.7 1.6 1.6        NaN         1.6
 47                          0.5 0.5 0.5        NaN         0.5
 48                          1.1 1.1 1.1        NaN         1.0
 49                          9.5 9.5 9.6        NaN         9.5
 50                          3.5 3.5 3.5        NaN         3.5
 51                          1.8 1.8 1.8        NaN         1.8
 52                          0.4 0.4 0.4        NaN         0.4
 53                          0.3 0.3 0.3        NaN         0.3
 54                          0.8 0.8 0.8        NaN         0.8
 55                          0.3 0.3 0.3        NaN         0.2
 56                       18.6 18.6 18.6        NaN        18.7
 57                          0.3 0.3 0.3        NaN         0.3
 58                       13.3 13.3 13.4        NaN        13.4
 59                          0.4 0.4 0.4        NaN         0.4
 60                          0.8 0.8 0.8        NaN         0.8
 61                          1.2 1.2 1.3        NaN         1.3
 62                          2.5 2.5 2.5        NaN         2.5  ]

In [29]:
GDP2014 = pd.concat(GDP2014, ignore_index = True)

In [30]:
GDP2014

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Millions of dollars,Unnamed: 3,Unnamed: 4,Unnamed: 5,Percent of the U.S.,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,Seasonally adjusted at annual rates,NaN,NaN,NaN,Seasonally adjusted at annual rates,NaN,NaN
1,NaN,2014,NaN,2014,NaN,2014.0,NaN,2014,NaN,NaN
2,NaN,NaN,I,II III IV,NaN,NaN,I,II III,IV,NaN
3,United States1 ..............,"17,316,314","16,941,430","17,225,767 17,497,215 17,600,843",NaN,100.0,NaN,100.0 100.0 100.0,NaN,100.0
4,New England ...............,"924,937","911,347","919,972 929,812 938,616",NaN,5.3,NaN,5.4 5.3 5.3,NaN,5.3
5,Connecticut ...............,"253,036","249,336","252,980 253,856 255,972",NaN,1.5,NaN,1.5 1.5 1.5,NaN,1.5
6,Maine .....................,"55,838","54,800","55,588 56,240 56,726",NaN,0.3,NaN,0.3 0.3 0.3,NaN,0.3
7,Massachusetts .........,"459,937","454,249","455,425 462,636 467,436",NaN,2.7,NaN,2.7 2.6 2.6,NaN,2.7
8,New Hampshire .........,"71,552","69,842","71,895 71,929 72,542",NaN,0.4,NaN,0.4 0.4 0.4,NaN,0.4
9,Rhode Island ............,"54,960","54,103","54,795 55,245 55,697",NaN,0.3,NaN,0.3 0.3 0.3,NaN,0.3
10,Vermont ..................,"29,613","29,016","29,289 29,905 30,244",NaN,0.2,NaN,0.2 0.2 0.2,NaN,0.2
11,Mideast .....................,"3,143,366","3,087,518","3,124,845 3,172,793 3,188,307",NaN,18.2,NaN,18.2 18.1 18.1,NaN,18.1
12,Delaware ..................,"62,756","61,094","62,375 63,646 63,908",NaN,0.4,NaN,0.4 0.4 0.4,NaN,0.4
13,District of Columbia ...,"115,473","115,482","114,998 115,136 116,273",NaN,0.7,NaN,0.7 0.7 0.7,NaN,0.7
14,Maryland ..................,"348,631","341,031","347,513 351,349 354,629",NaN,2.0,NaN,2.0 2.0 2.0,NaN,2.0
15,New Jersey ...............,"549,099","539,958","546,906 552,068 557,465",NaN,3.2,NaN,3.2 3.2 3.2,NaN,3.2
16,New York ..................,"1,404,518","1,378,213","1,393,589 1,422,242 1,424,029",NaN,8.1,NaN,8.1 8.1 8.1,NaN,8.1
17,Pennsylvania ............,"662,890","651,740","659,464 668,352 672,003",NaN,3.8,NaN,3.8 3.8 3.8,NaN,3.8
18,Great Lakes ...............,"2,391,384","2,341,059","2,379,809 2,413,833 2,430,835",NaN,13.8,NaN,13.8 13.8 13.8,NaN,13.8
19,Illinois .....................,"745,875","731,827","742,805 751,601 757,269",NaN,4.3,NaN,4.3 4.3 4.3,NaN,4.3
20,Indiana .....................,"317,840","311,837","315,952 320,434 323,139",NaN,1.8,NaN,1.8 1.8 1.8,NaN,1.8
21,Michigan ..................,"451,516","441,951","450,755 454,491 458,866",NaN,2.6,NaN,2.6 2.6 2.6,NaN,2.6
22,Ohio ........................,"583,261","569,274","578,218 592,046 593,508",NaN,3.4,NaN,3.4 3.4 3.4,NaN,3.4
23,Wisconsin ...............,"292,891","286,169","292,079 295,262 298,053",NaN,1.7,NaN,1.7 1.7 1.7,NaN,1.7
24,Plains ........................,"1,131,518","1,100,382","1,128,959 1,144,482 1,152,247",NaN,6.5,NaN,6.5 6.6 6.5,NaN,6.5
25,Iowa ........................,"170,613","163,845","171,071 173,281 174,256",NaN,1.0,NaN,1.0 1.0 1.0,NaN,1.0
26,Kansas .....................,"147,075","143,510","146,670 148,403 149,718",NaN,0.8,NaN,0.8 0.9 0.8,NaN,0.9
27,Minnesota ...............,"316,204","309,764","312,677 320,114 322,264",NaN,1.8,NaN,1.8 1.8 1.8,NaN,1.8
28,Missouri ..................,"284,462","277,624","283,834 286,961 289,431",NaN,1.6,NaN,1.6 1.6 1.6,NaN,1.6
29,Nebraska ..................,"112,159","108,006","113,017 113,402 114,213",NaN,0.6,NaN,0.6 0.7 0.6,NaN,0.6
30,North Dakota ............,"55,136","53,026","55,649 56,012 55,858",NaN,0.3,NaN,0.3 0.3 0.3,NaN,0.3
31,South Dakota ............,"45,867","44,607","46,042 46,310 46,508",NaN,0.3,NaN,0.3 0.3 0.3,NaN,0.3
32,Southeast ..................,"3,695,095","3,611,976","3,678,954 3,728,938 3,760,513",NaN,21.3,NaN,21.3 21.4 21.3,NaN,21.4
33,Alabama ..................,"199,440","195,091","197,789 201,541 203,338",NaN,1.2,NaN,1.2 1.1 1.2,NaN,1.2
34,Arkansas ..................,"121,395","119,172","121,242 122,108 123,060",NaN,0.7,NaN,0.7 0.7 0.7,NaN,0.7
35,Florida .....................,"839,944","820,194","835,308 846,535 857,738",NaN,4.9,NaN,4.8 4.8 4.8,NaN,4.9
36,Georgia ..................,"476,483","464,398","472,890 482,335 486,308",NaN,2.8,NaN,2.7 2.7 2.8,NaN,2.8
37,Kentucky ..................,"188,602","184,763","188,758 189,951 190,936",NaN,1.1,NaN,1.1 1.1 1.1,NaN,1.1
38,Louisiana ..................,"251,397","244,942","250,163 255,368 255,113",NaN,1.5,NaN,1.4 1.5 1.5,NaN,1.4
39,Mississippi ...............,"104,851","103,016","105,377 105,184 105,829",NaN,0.6,NaN,0.6 0.6 0.6,NaN,0.6
40,North Carolina .........,"483,126","474,030","478,625 488,209 491,637",NaN,2.8,NaN,2.8 2.8 2.8,NaN,2.8
41,South Carolina .........,"190,304","184,447","190,658 191,892 194,220",NaN,1.1,NaN,1.1 1.1 1.1,NaN,1.1
42,Tennessee ...............,"300,604","293,594","299,506 303,206 306,109",NaN,1.7,NaN,1.7 1.7 1.7,NaN,1.7
43,Virginia .....................,"463,613","455,777","463,004 465,780 469,891",NaN,2.7,NaN,2.7 2.7 2.7,NaN,2.7
44,West Virginia ............,"75,337","72,551","75,635 76,828 76,333",NaN,0.4,NaN,0.4 0.4 0.4,NaN,0.4
45,Southwest ..................,"2,208,652","2,158,213","2,197,472 2,241,598 2,237,326",NaN,12.8,NaN,12.7 12.8 12.8,NaN,12.7
46,Arizona .....................,"284,156","279,983","281,409 286,590 288,644",NaN,1.6,NaN,1.7 1.6 1.6,NaN,1.6
47,New Mexico ...............,"92,959","91,326","92,715 93,817 93,977",NaN,0.5,NaN,0.5 0.5 0.5,NaN,0.5
48,Oklahoma ...............,"183,501","179,582","182,935 186,687 184,799",NaN,1.1,NaN,1.1 1.1 1.1,NaN,1.0
49,Texas .....................,"1,648,036","1,607,322","1,640,414 1,674,503 1,669,905",NaN,9.5,NaN,9.5 9.5 9.6,NaN,9.5
50,Rocky Mountain .........,"600,485","586,172","597,652 607,987 610,129",NaN,3.5,NaN,3.5 3.5 3.5,NaN,3.5
51,Colorado ..................,"306,663","297,603","304,561 311,506 312,981",NaN,1.8,NaN,1.8 1.8 1.8,NaN,1.8
52,Idaho .....................,"63,952","62,850","63,818 64,264 64,878",NaN,0.4,NaN,0.4 0.4 0.4,NaN,0.4
53,Montana ..................,"44,269","43,560","44,273 44,569 44,674",NaN,0.3,NaN,0.3 0.3 0.3,NaN,0.3
54,Utah ........................,"141,410","138,911","140,214 142,686 143,830",NaN,0.8,NaN,0.8 0.8 0.8,NaN,0.8
55,Wyoming ..................,"44,190","43,247","44,786 44,962 43,765",NaN,0.3,NaN,0.3 0.3 0.3,NaN,0.2
56,Far West .....................,"3,220,878","3,144,765","3,198,105 3,257,772 3,282,871",NaN,18.6,NaN,18.6 18.6 18.6,NaN,18.7
57,Alaska .....................,"57,080","57,371","58,253 56,996 55,700",NaN,0.3,NaN,0.3 0.3 0.3,NaN,0.3
58,California ..................,"2,311,616","2,254,347","2,292,655 2,341,652 2,357,810",NaN,13.3,NaN,13.3 13.3 13.4,NaN,13.4
59,Hawaii .....................,"77,389","76,067","77,104 77,758 78,629",NaN,0.4,NaN,0.4 0.4 0.4,NaN,0.4
60,Nevada ..................,"132,064","130,191","131,057 133,104 133,905",NaN,0.8,NaN,0.8 0.8 0.8,NaN,0.8
61,Oregon .....................,"215,677","208,459","213,520 218,898 221,829",NaN,1.2,NaN,1.2 1.2 1.3,NaN,1.3
62,Washington ...............,"427,052","418,329","425,517 429,364 434,997",NaN,2.5,NaN,2.5 2.5 2.5,NaN,2.5

In [31]:
GDP2014 = GDP2014.drop(GDP2014.index[0]).reset_index(drop = True)
GDP2014 = GDP2014.drop(GDP2014.index[0]).reset_index(drop = True)
GDP2014

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Millions of dollars,Unnamed: 3,Unnamed: 4,Unnamed: 5,Percent of the U.S.,Unnamed: 6,Unnamed: 7
0,NaN,NaN,I,II III IV,NaN,NaN,I,II III,IV,NaN
1,United States1 ..............,"17,316,314","16,941,430","17,225,767 17,497,215 17,600,843",NaN,100.0,NaN,100.0 100.0 100.0,NaN,100.0
2,New England ...............,"924,937","911,347","919,972 929,812 938,616",NaN,5.3,NaN,5.4 5.3 5.3,NaN,5.3
3,Connecticut ...............,"253,036","249,336","252,980 253,856 255,972",NaN,1.5,NaN,1.5 1.5 1.5,NaN,1.5
4,Maine .....................,"55,838","54,800","55,588 56,240 56,726",NaN,0.3,NaN,0.3 0.3 0.3,NaN,0.3
5,Massachusetts .........,"459,937","454,249","455,425 462,636 467,436",NaN,2.7,NaN,2.7 2.6 2.6,NaN,2.7
6,New Hampshire .........,"71,552","69,842","71,895 71,929 72,542",NaN,0.4,NaN,0.4 0.4 0.4,NaN,0.4
7,Rhode Island ............,"54,960","54,103","54,795 55,245 55,697",NaN,0.3,NaN,0.3 0.3 0.3,NaN,0.3
8,Vermont ..................,"29,613","29,016","29,289 29,905 30,244",NaN,0.2,NaN,0.2 0.2 0.2,NaN,0.2
9,Mideast .....................,"3,143,366","3,087,518","3,124,845 3,172,793 3,188,307",NaN,18.2,NaN,18.2 18.1 18.1,NaN,18.1
10,Delaware ..................,"62,756","61,094","62,375 63,646 63,908",NaN,0.4,NaN,0.4 0.4 0.4,NaN,0.4
11,District of Columbia ...,"115,473","115,482","114,998 115,136 116,273",NaN,0.7,NaN,0.7 0.7 0.7,NaN,0.7
12,Maryland ..................,"348,631","341,031","347,513 351,349 354,629",NaN,2.0,NaN,2.0 2.0 2.0,NaN,2.0
13,New Jersey ...............,"549,099","539,958","546,906 552,068 557,465",NaN,3.2,NaN,3.2 3.2 3.2,NaN,3.2
14,New York ..................,"1,404,518","1,378,213","1,393,589 1,422,242 1,424,029",NaN,8.1,NaN,8.1 8.1 8.1,NaN,8.1
15,Pennsylvania ............,"662,890","651,740","659,464 668,352 672,003",NaN,3.8,NaN,3.8 3.8 3.8,NaN,3.8
16,Great Lakes ...............,"2,391,384","2,341,059","2,379,809 2,413,833 2,430,835",NaN,13.8,NaN,13.8 13.8 13.8,NaN,13.8
17,Illinois .....................,"745,875","731,827","742,805 751,601 757,269",NaN,4.3,NaN,4.3 4.3 4.3,NaN,4.3
18,Indiana .....................,"317,840","311,837","315,952 320,434 323,139",NaN,1.8,NaN,1.8 1.8 1.8,NaN,1.8
19,Michigan ..................,"451,516","441,951","450,755 454,491 458,866",NaN,2.6,NaN,2.6 2.6 2.6,NaN,2.6
20,Ohio ........................,"583,261","569,274","578,218 592,046 593,508",NaN,3.4,NaN,3.4 3.4 3.4,NaN,3.4
21,Wisconsin ...............,"292,891","286,169","292,079 295,262 298,053",NaN,1.7,NaN,1.7 1.7 1.7,NaN,1.7
22,Plains ........................,"1,131,518","1,100,382","1,128,959 1,144,482 1,152,247",NaN,6.5,NaN,6.5 6.6 6.5,NaN,6.5
23,Iowa ........................,"170,613","163,845","171,071 173,281 174,256",NaN,1.0,NaN,1.0 1.0 1.0,NaN,1.0
24,Kansas .....................,"147,075","143,510","146,670 148,403 149,718",NaN,0.8,NaN,0.8 0.9 0.8,NaN,0.9
25,Minnesota ...............,"316,204","309,764","312,677 320,114 322,264",NaN,1.8,NaN,1.8 1.8 1.8,NaN,1.8
26,Missouri ..................,"284,462","277,624","283,834 286,961 289,431",NaN,1.6,NaN,1.6 1.6 1.6,NaN,1.6
27,Nebraska ..................,"112,159","108,006","113,017 113,402 114,213",NaN,0.6,NaN,0.6 0.7 0.6,NaN,0.6
28,North Dakota ............,"55,136","53,026","55,649 56,012 55,858",NaN,0.3,NaN,0.3 0.3 0.3,NaN,0.3
29,South Dakota ............,"45,867","44,607","46,042 46,310 46,508",NaN,0.3,NaN,0.3 0.3 0.3,NaN,0.3
30,Southeast ..................,"3,695,095","3,611,976","3,678,954 3,728,938 3,760,513",NaN,21.3,NaN,21.3 21.4 21.3,NaN,21.4
31,Alabama ..................,"199,440","195,091","197,789 201,541 203,338",NaN,1.2,NaN,1.2 1.1 1.2,NaN,1.2
32,Arkansas ..................,"121,395","119,172","121,242 122,108 123,060",NaN,0.7,NaN,0.7 0.7 0.7,NaN,0.7
33,Florida .....................,"839,944","820,194","835,308 846,535 857,738",NaN,4.9,NaN,4.8 4.8 4.8,NaN,4.9
34,Georgia ..................,"476,483","464,398","472,890 482,335 486,308",NaN,2.8,NaN,2.7 2.7 2.8,NaN,2.8
35,Kentucky ..................,"188,602","184,763","188,758 189,951 190,936",NaN,1.1,NaN,1.1 1.1 1.1,NaN,1.1
36,Louisiana ..................,"251,397","244,942","250,163 255,368 255,113",NaN,1.5,NaN,1.4 1.5 1.5,NaN,1.4
37,Mississippi ...............,"104,851","103,016","105,377 105,184 105,829",NaN,0.6,NaN,0.6 0.6 0.6,NaN,0.6
38,North Carolina .........,"483,126","474,030","478,625 488,209 491,637",NaN,2.8,NaN,2.8 2.8 2.8,NaN,2.8
39,South Carolina .........,"190,304","184,447","190,658 191,892 194,220",NaN,1.1,NaN,1.1 1.1 1.1,NaN,1.1
40,Tennessee ...............,"300,604","293,594","299,506 303,206 306,109",NaN,1.7,NaN,1.7 1.7 1.7,NaN,1.7
41,Virginia .....................,"463,613","455,777","463,004 465,780 469,891",NaN,2.7,NaN,2.7 2.7 2.7,NaN,2.7
42,West Virginia ............,"75,337","72,551","75,635 76,828 76,333",NaN,0.4,NaN,0.4 0.4 0.4,NaN,0.4
43,Southwest ..................,"2,208,652","2,158,213","2,197,472 2,241,598 2,237,326",NaN,12.8,NaN,12.7 12.8 12.8,NaN,12.7
44,Arizona .....................,"284,156","279,983","281,409 286,590 288,644",NaN,1.6,NaN,1.7 1.6 1.6,NaN,1.6
45,New Mexico ...............,"92,959","91,326","92,715 93,817 93,977",NaN,0.5,NaN,0.5 0.5 0.5,NaN,0.5
46,Oklahoma ...............,"183,501","179,582","182,935 186,687 184,799",NaN,1.1,NaN,1.1 1.1 1.1,NaN,1.0
47,Texas .....................,"1,648,036","1,607,322","1,640,414 1,674,503 1,669,905",NaN,9.5,NaN,9.5 9.5 9.6,NaN,9.5
48,Rocky Mountain .........,"600,485","586,172","597,652 607,987 610,129",NaN,3.5,NaN,3.5 3.5 3.5,NaN,3.5
49,Colorado ..................,"306,663","297,603","304,561 311,506 312,981",NaN,1.8,NaN,1.8 1.8 1.8,NaN,1.8
50,Idaho .....................,"63,952","62,850","63,818 64,264 64,878",NaN,0.4,NaN,0.4 0.4 0.4,NaN,0.4
51,Montana ..................,"44,269","43,560","44,273 44,569 44,674",NaN,0.3,NaN,0.3 0.3 0.3,NaN,0.3
52,Utah ........................,"141,410","138,911","140,214 142,686 143,830",NaN,0.8,NaN,0.8 0.8 0.8,NaN,0.8
53,Wyoming ..................,"44,190","43,247","44,786 44,962 43,765",NaN,0.3,NaN,0.3 0.3 0.3,NaN,0.2
54,Far West .....................,"3,220,878","3,144,765","3,198,105 3,257,772 3,282,871",NaN,18.6,NaN,18.6 18.6 18.6,NaN,18.7
55,Alaska .....................,"57,080","57,371","58,253 56,996 55,700",NaN,0.3,NaN,0.3 0.3 0.3,NaN,0.3
56,California ..................,"2,311,616","2,254,347","2,292,655 2,341,652 2,357,810",NaN,13.3,NaN,13.3 13.3 13.4,NaN,13.4
57,Hawaii .....................,"77,389","76,067","77,104 77,758 78,629",NaN,0.4,NaN,0.4 0.4 0.4,NaN,0.4
58,Nevada ..................,"132,064","130,191","131,057 133,104 133,905",NaN,0.8,NaN,0.8 0.8 0.8,NaN,0.8
59,Oregon .....................,"215,677","208,459","213,520 218,898 221,829",NaN,1.2,NaN,1.2 1.2 1.3,NaN,1.3
60,Washington ...............,"427,052","418,329","425,517 429,364 434,997",NaN,2.5,NaN,2.5 2.5 2.5,NaN,2.5

### Quarterly data is super messy and will require a lot of data cleaning. Need to check and see if the other quarterly data have similar issues or if each PDF will be unique.

# 2015 Quarterly Data Test

In [32]:
GDP15_16 = tabula.read_pdf('GDP2015-2016_quarterly.pdf', pages = 10, stream = True)
GDP15_16

[                           Unnamed: 0                            Unnamed: 1  \
 0                                 NaN                                   NaN
 1                                 NaN                                   NaN
 2                                 NaN                                    Q1
 3                                   1                                   NaN
 4                       United States  ..........................17,671,025
 5   New England .....................                               941,945
 6        Connecticut ................                               250,628
 7      Maine ........................                                55,930
 8          Massachusetts ............                               478,320
 9           New Hampshire ...........                                72,395
 10        Rhode Island ..............                                54,858
 11      Vermont .....................                                29,815
 12    Mideast .......................                             3,223,326
 13      Delaware ....................                                68,216
 14         District of Columbia .....                               120,100
 15      Maryland ....................                               361,870
 16        New Jersey ................                               547,279
 17       New York ...................                             1,427,065
 18       Pennsylvania ...............                               698,796
 19      Great Lakes .................                             2,448,105
 20   Illinois .......................                               763,309
 21     Indiana ......................                               327,996
 22      Michigan ....................                               460,714
 23    Ohio ..........................                               599,820
 24       Wisconsin ..................                               296,267
 25  Plains ..........................                             1,147,993
 26    Iowa ..........................                               172,410
 27      Kansas ......................                               148,490
 28       Minnesota ..................                               324,022
 29     Missouri .....................                               288,381
 30       Nebraska ...................                               111,411
 31       North Dakota ...............                                57,402
 32        South Dakota ..............                                45,878
 33    Southeast .....................                             3,745,076
 34       Alabama ....................                               196,820
 35       Arkansas ...................                               117,064
 36   Florida ........................                               866,212
 37      Georgia .....................                               491,481
 38       Kentucky ...................                               188,148
 39     Louisiana ....................                               239,704
 40      Mississippi .................                               104,325
 41      North Carolina ..............                               490,176
 42        South Carolina ............                               197,475
 43       Tennessee ..................                               309,207
 44   Virginia .......................                               471,999
 45       West Virginia ..............                                72,465
 46     Southwest ....................                             2,192,658
 47    Arizona .......................                               287,190
 48        New Mexico ................                                93,025
 49       Oklahoma ...................                               191,872
 50    Texas .........................                             1,620,571
 51        Rocky Mountain ............                               605,555
 52      Colorado ....................                               309,993
 53   Idaho ..........................                                64,856
 54      Montana .....................                                45,186
 55    Utah ..........................                               145,982
 56       Wyoming ....................                                39,538
 57    Far West ......................                             3,366,368
 58    Alaska ........................                                53,997
 59    California ....................                             2,444,063
 60     Hawaii .......................                                79,538
 61      Nevada ......................                               137,533
 62     Oregon .......................                               212,763
 63        Washington ................                               438,475

     Unnamed: 2  Unnamed: 3  Unnamed: 4                           Unnamed: 5  \
 0          NaN         NaN         NaN  Seasonally adjusted at annual rates
 1          NaN      2015.0         NaN                                  NaN
 2           Q2         NaN          Q3                                Q4 Q1
 3          NaN         NaN         NaN                                  NaN
 4   17,886,695         NaN  18,030,967                18,111,878 18,170,091
 5      959,027         NaN     964,703                      982,152 983,200
 6      256,514         NaN     257,895                      260,185 260,604
 7       57,230         NaN      57,716                        58,453 58,540
 8      485,938         NaN     487,509                      500,634 500,418
 9       73,810         NaN      75,038                        75,833 76,737
 10      55,401         NaN      55,884                        56,457 56,087
 11      30,135         NaN      30,660                        30,591 30,814
 12   3,270,682         NaN   3,302,756                  3,301,626 3,329,683
 13      68,898         NaN      69,086                        69,256 68,952
 14     121,210         NaN     121,295                      121,870 125,356
 15     363,936         NaN     366,991                      372,169 371,205
 16     565,951         NaN     571,204                      573,006 574,277
 17   1,445,357         NaN   1,462,516                  1,447,505 1,481,479
 18     705,330         NaN     711,663                      717,821 708,415
 19   2,473,845         NaN   2,499,169                  2,519,159 2,521,077
 20     766,689         NaN     778,688                      780,040 788,510
 21     333,135         NaN     334,536                      337,786 337,423
 22     468,784         NaN     473,861                      479,085 477,634
 23     605,409         NaN     608,502                      615,575 612,191
 24     299,828         NaN     303,582                      306,673 305,319
 25   1,161,066         NaN   1,171,307                  1,174,283 1,167,069
 26     175,098         NaN     177,491                      178,238 176,443
 27     152,674         NaN     153,489                      152,725 151,833
 28     324,510         NaN     326,873                      331,926 329,008
 29     292,194         NaN     294,997                      295,298 297,412
 30     113,604         NaN     114,836                      113,982 113,782
 31      56,560         NaN      55,719                        54,027 51,450
 32      46,426         NaN      47,903                        48,086 47,142
 33   3,794,648         NaN   3,840,495                  3,872,660 3,881,685
 34     199,677         NaN     201,498                      201,926 202,298
 35     118,592         NaN     119,560                      119,492 119,920
 36     875,944         NaN     889,512                      903,778 906,448
 37     498,673         NaN     505,437                      510,496 520,453
 38     191,427         NaN     193,072                      194,942 191,394
 39     239,172         NaN     238,492                      234,932 233,388
 40     105,635         NaN     106,684                      106,841 107,425
 41     496,874         NaN     503,657                      508,257 509,358
 42     200,135         NaN     203,438                      206,274 206,715
 43     314,661         NaN     319,867                      322,900 323,864
 44     479,776         NaN     485,306                      489,805 488,650
 45      74,081         NaN      73,971                        73,019 71,772
 46   2,194,494         NaN   2,185,231                  2,163,126 2,155,605
 47     290,463         NaN     292,540                      295,597 296,314
 48      93,799         NaN      93,713                        92,383 91,496
 49     189,264         NaN     187,795                      183,112 180,399
 50   1,620,968         NaN   1,611,183                  1,592,033 1,587,395
 51     613,147         NaN     616,369                      617,524 619,325
 52     313,303         NaN     314,546                      315,475 316,481
 53      65,342         NaN      65,884                        65,760 66,010
 54      46,207         NaN      46,119                        45,868 45,789
 55     148,314         NaN     150,215                      151,884 153,422
 56      39,981         NaN      39,604                        38,537 37,622
 57   3,419,789         NaN   3,450,939                  3,481,350 3,512,447
 58      54,615         NaN      53,155                        51,770 50,059
 59   2,485,470         NaN   2,505,638                  2,531,304 2,545,953
 60      80,302         NaN      80,907                        81,650 82,904
 61     140,194         NaN     142,952                      143,602 143,572
 62     214,687         NaN     218,660                      219,979 224,181
 63     444,522         NaN     449,627                      453,045 465,779

     Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9 Unnamed: 10 Unnamed: 11  \
 0          NaN         NaN         NaN         NaN         NaN         NaN
 1          NaN      2016.0         NaN         NaN         NaN         NaN
 2           Q2         NaN          Q3          Q4          Q1          Q2
 3          NaN         NaN         NaN         NaN         NaN         NaN
 4   18,337,791         NaN  18,561,915  18,755,370       100.0       100.0
 5      990,080         NaN   1,002,400   1,012,104         5.3         NaN
 6      262,341         NaN     263,973     266,597         1.4         NaN
 7       59,224         NaN      59,478      59,857         0.3         NaN
 8      503,357         NaN     511,392     516,483         2.7         NaN
 9       77,201         NaN      78,329      79,155         0.4         NaN
 10      57,099         NaN      58,017      58,527         0.3         NaN
 11      30,859         NaN      31,211      31,483         0.2         NaN
 12   3,358,622         NaN   3,381,370   3,408,478        18.2        18.3
 13      69,747         NaN      71,080      71,769         0.4         NaN
 14     126,100         NaN     127,208     128,597         0.7         NaN
 15     376,578         NaN     380,950     384,386         2.0         NaN
 16     577,703         NaN     583,804     588,706         3.1         NaN
 17   1,489,457         NaN   1,486,075   1,494,981         8.1         NaN
 18     719,037         NaN     732,252     740,039         4.0         NaN
 19   2,541,207         NaN   2,568,564   2,593,179        13.9        13.8
 20     787,470         NaN     791,450     798,999         4.3         NaN
 21     339,900         NaN     343,721     346,591         1.9         NaN
 22     485,680         NaN     490,342     495,300         2.6         NaN
 23     621,138         NaN     631,347     638,185         3.4         NaN
 24     307,019         NaN     311,704     314,104         1.7         NaN
 25   1,177,073         NaN   1,190,606   1,199,789         6.5         NaN
 26     177,667         NaN     179,944     181,007         1.0         NaN
 27     152,822         NaN     153,801     154,574         0.8         NaN
 28     331,958         NaN     338,304     341,318         1.8         NaN
 29     299,897         NaN     301,824     304,431         1.6         NaN
 30     114,805         NaN     116,025     116,769         0.6         NaN
 31      52,015         NaN      52,096      52,796         0.3         NaN
 32      47,908         NaN      48,612      48,893         0.3         NaN
 33   3,914,726         NaN   3,964,744   4,005,534        21.2        21.2
 34     204,232         NaN     205,307     207,608         1.1         NaN
 35     120,704         NaN     120,683     121,448         0.7         NaN
 36     917,885         NaN     935,927     947,007         4.9         NaN
 37     520,479         NaN     527,705     532,805         2.8         NaN
 38     195,685         NaN     199,550     201,545         1.1         NaN
 39     234,573         NaN     234,905     237,569         1.4         NaN
 40     107,397         NaN     107,683     108,215         0.6         NaN
 41     514,182         NaN     521,265     526,809         2.8         NaN
 42     209,032         NaN     210,589     212,529         1.1         NaN
 43     326,262         NaN     330,988     333,966         1.7         NaN
 44     491,669         NaN     496,244     500,833         2.7         NaN
 45      72,625         NaN      73,898      75,199         0.4         NaN
 46   2,178,893         NaN   2,207,112   2,242,336        12.4        12.3
 47     299,626         NaN     306,764     309,103         1.6         NaN
 48      92,931         NaN      93,784      94,974         0.5         NaN
 49     182,688         NaN     183,061     185,602         1.1         NaN
 50   1,603,648         NaN   1,623,503   1,652,657         9.2         NaN
 51     624,954         NaN     636,667     643,739         3.4         NaN
 52     320,634         NaN     327,333     330,319         1.8         NaN
 53      66,927         NaN      67,714      68,450         0.4         NaN
 54      45,642         NaN      46,041      46,506         0.3         NaN
 55     154,182         NaN     157,802     160,002         0.8         NaN
 56      37,569         NaN      37,777      38,463         0.2         NaN
 57   3,552,236         NaN   3,610,452   3,650,211        19.1        19.1
 58      50,545         NaN      50,742      51,506         0.3         NaN
 59   2,581,572         NaN   2,627,083   2,656,080        13.8        13.9
 60      83,548         NaN      84,325      84,889         0.5         NaN
 61     145,068         NaN     149,913     151,348         0.8         NaN
 62     225,947         NaN     227,316     229,837         1.2         NaN
 63     465,556         NaN     471,073     476,550         2.5         NaN

     Unnamed: 12 Unnamed: 13 Percent of the U.S. Unnamed: 14  Unnamed: 15  \
 0           NaN         NaN                 NaN         NaN          NaN
 1        2015.0         NaN                 NaN         NaN       2016.0
 2           NaN          Q3               Q4 Q1          Q2          NaN
 3           NaN         NaN                 NaN         NaN          NaN
 4           NaN       100.0         100.0 100.0       100.0          NaN
 5           5.4         5.4             5.4 5.4         NaN          5.4
 6           1.4         1.4             1.4 1.4         NaN          1.4
 7           0.3         0.3             0.3 0.3         NaN          0.3
 8           2.7         2.7             2.8 2.8         NaN          2.7
 9           0.4         0.4             0.4 0.4         NaN          0.4
 10          0.3         0.3             0.3 0.3         NaN          0.3
 11          0.2         0.2             0.2 0.2         NaN          0.2
 12          NaN        18.3           18.2 18.3        18.3          NaN
 13          0.4         0.4             0.4 0.4         NaN          0.4
 14          0.7         0.7             0.7 0.7         NaN          0.7
 15          2.0         2.0             2.1 2.0         NaN          2.1
 16          3.2         3.2             3.2 3.2         NaN          3.2
 17          8.1         8.1             8.0 8.2         NaN          8.1
 18          3.9         3.9             4.0 3.9         NaN          3.9
 19          NaN        13.9           13.9 13.9        13.9          NaN
 20          4.3         4.3             4.3 4.3         NaN          4.3
 21          1.9         1.9             1.9 1.9         NaN          1.9
 22          2.6         2.6             2.6 2.6         NaN          2.6
 23          3.4         3.4             3.4 3.4         NaN          3.4
 24          1.7         1.7             1.7 1.7         NaN          1.7
 25          6.5         6.5             6.5 6.4         NaN          6.4
 26          1.0         1.0             1.0 1.0         NaN          1.0
 27          0.9         0.9             0.8 0.8         NaN          0.8
 28          1.8         1.8             1.8 1.8         NaN          1.8
 29          1.6         1.6             1.6 1.6         NaN          1.6
 30          0.6         0.6             0.6 0.6         NaN          0.6
 31          0.3         0.3             0.3 0.3         NaN          0.3
 32          0.3         0.3             0.3 0.3         NaN          0.3
 33          NaN        21.3           21.4 21.4        21.3          NaN
 34          1.1         1.1             1.1 1.1         NaN          1.1
 35          0.7         0.7             0.7 0.7         NaN          0.7
 36          4.9         4.9             5.0 5.0         NaN          5.0
 37          2.8         2.8             2.8 2.9         NaN          2.8
 38          1.1         1.1             1.1 1.1         NaN          1.1
 39          1.3         1.3             1.3 1.3         NaN          1.3
 40          0.6         0.6             0.6 0.6         NaN          0.6
 41          2.8         2.8             2.8 2.8         NaN          2.8
 42          1.1         1.1             1.1 1.1         NaN          1.1
 43          1.8         1.8             1.8 1.8         NaN          1.8
 44          2.7         2.7             2.7 2.7         NaN          2.7
 45          0.4         0.4             0.4 0.4         NaN          0.4
 46          NaN        12.1           11.9 11.9        11.9          NaN
 47          1.6         1.6             1.6 1.6         NaN          1.6
 48          0.5         0.5             0.5 0.5         NaN          0.5
 49          1.1         1.0             1.0 1.0         NaN          1.0
 50          9.1         8.9             8.8 8.7         NaN          8.7
 51          3.4         3.4             3.4 3.4         NaN          3.4
 52          1.8         1.7             1.7 1.7         NaN          1.7
 53          0.4         0.4             0.4 0.4         NaN          0.4
 54          0.3         0.3             0.3 0.3         NaN          0.2
 55          0.8         0.8             0.8 0.8         NaN          0.8
 56          0.2         0.2             0.2 0.2         NaN          0.2
 57          NaN        19.1           19.2 19.3        19.4          NaN
 58          0.3         0.3             0.3 0.3         NaN          0.3
 59          NaN        13.9           14.0 14.0        14.1          NaN
 60          0.4         0.4             0.5 0.5         NaN          0.5
 61          0.8         0.8             0.8 0.8         NaN          0.8
 62          1.2         1.2             1.2 1.2         NaN          1.2
 63          2.5         2.5             2.5 2.6         NaN          2.5

    Unnamed: 16 Unnamed: 17
 0          NaN         NaN
 1          NaN         NaN
 2           Q3          Q4
 3          NaN         NaN
 4        100.0       100.0
 5          5.4         5.4
 6          1.4         1.4

In [33]:
GDP15_16 = pd.concat(GDP15_16, ignore_index = True)
GDP15_16

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Percent of the U.S.,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,Seasonally adjusted at annual rates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,2015.0,NaN,NaN,NaN,2016.0,NaN,NaN,NaN,NaN,2015.0,NaN,NaN,NaN,2016.0,NaN,NaN
2,NaN,Q1,Q2,NaN,Q3,Q4 Q1,Q2,NaN,Q3,Q4,Q1,Q2,NaN,Q3,Q4 Q1,Q2,NaN,Q3,Q4
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United States,"..........................17,671,025","17,886,695",NaN,"18,030,967","18,111,878 18,170,091","18,337,791",NaN,"18,561,915","18,755,370",100.0,100.0,NaN,100.0,100.0 100.0,100.0,NaN,100.0,100.0
5,New England .....................,"941,945","959,027",NaN,"964,703","982,152 983,200","990,080",NaN,"1,002,400","1,012,104",5.3,NaN,5.4,5.4,5.4 5.4,NaN,5.4,5.4,5.4
6,Connecticut ................,"250,628","256,514",NaN,"257,895","260,185 260,604","262,341",NaN,"263,973","266,597",1.4,NaN,1.4,1.4,1.4 1.4,NaN,1.4,1.4,1.4
7,Maine ........................,"55,930","57,230",NaN,"57,716","58,453 58,540","59,224",NaN,"59,478","59,857",0.3,NaN,0.3,0.3,0.3 0.3,NaN,0.3,0.3,0.3
8,Massachusetts ............,"478,320","485,938",NaN,"487,509","500,634 500,418","503,357",NaN,"511,392","516,483",2.7,NaN,2.7,2.7,2.8 2.8,NaN,2.7,2.8,2.8
9,New Hampshire ...........,"72,395","73,810",NaN,"75,038","75,833 76,737","77,201",NaN,"78,329","79,155",0.4,NaN,0.4,0.4,0.4 0.4,NaN,0.4,0.4,0.4
10,Rhode Island ..............,"54,858","55,401",NaN,"55,884","56,457 56,087","57,099",NaN,"58,017","58,527",0.3,NaN,0.3,0.3,0.3 0.3,NaN,0.3,0.3,0.3
11,Vermont .....................,"29,815","30,135",NaN,"30,660","30,591 30,814","30,859",NaN,"31,211","31,483",0.2,NaN,0.2,0.2,0.2 0.2,NaN,0.2,0.2,0.2
12,Mideast .......................,"3,223,326","3,270,682",NaN,"3,302,756","3,301,626 3,329,683","3,358,622",NaN,"3,381,370","3,408,478",18.2,18.3,NaN,18.3,18.2 18.3,18.3,NaN,18.2,18.2
13,Delaware ....................,"68,216","68,898",NaN,"69,086","69,256 68,952","69,747",NaN,"71,080","71,769",0.4,NaN,0.4,0.4,0.4 0.4,NaN,0.4,0.4,0.4
14,District of Columbia .....,"120,100","121,210",NaN,"121,295","121,870 125,356","126,100",NaN,"127,208","128,597",0.7,NaN,0.7,0.7,0.7 0.7,NaN,0.7,0.7,0.7
15,Maryland ....................,"361,870","363,936",NaN,"366,991","372,169 371,205","376,578",NaN,"380,950","384,386",2.0,NaN,2.0,2.0,2.1 2.0,NaN,2.1,2.1,2.0
16,New Jersey ................,"547,279","565,951",NaN,"571,204","573,006 574,277","577,703",NaN,"583,804","588,706",3.1,NaN,3.2,3.2,3.2 3.2,NaN,3.2,3.1,3.1
17,New York ...................,"1,427,065","1,445,357",NaN,"1,462,516","1,447,505 1,481,479","1,489,457",NaN,"1,486,075","1,494,981",8.1,NaN,8.1,8.1,8.0 8.2,NaN,8.1,8.0,8.0
18,Pennsylvania ...............,"698,796","705,330",NaN,"711,663","717,821 708,415","719,037",NaN,"732,252","740,039",4.0,NaN,3.9,3.9,4.0 3.9,NaN,3.9,3.9,3.9
19,Great Lakes .................,"2,448,105","2,473,845",NaN,"2,499,169","2,519,159 2,521,077","2,541,207",NaN,"2,568,564","2,593,179",13.9,13.8,NaN,13.9,13.9 13.9,13.9,NaN,13.8,13.8
20,Illinois .......................,"763,309","766,689",NaN,"778,688","780,040 788,510","787,470",NaN,"791,450","798,999",4.3,NaN,4.3,4.3,4.3 4.3,NaN,4.3,4.3,4.3
21,Indiana ......................,"327,996","333,135",NaN,"334,536","337,786 337,423","339,900",NaN,"343,721","346,591",1.9,NaN,1.9,1.9,1.9 1.9,NaN,1.9,1.9,1.8
22,Michigan ....................,"460,714","468,784",NaN,"473,861","479,085 477,634","485,680",NaN,"490,342","495,300",2.6,NaN,2.6,2.6,2.6 2.6,NaN,2.6,2.6,2.6
23,Ohio ..........................,"599,820","605,409",NaN,"608,502","615,575 612,191","621,138",NaN,"631,347","638,185",3.4,NaN,3.4,3.4,3.4 3.4,NaN,3.4,3.4,3.4
24,Wisconsin ..................,"296,267","299,828",NaN,"303,582","306,673 305,319","307,019",NaN,"311,704","314,104",1.7,NaN,1.7,1.7,1.7 1.7,NaN,1.7,1.7,1.7
25,Plains ..........................,"1,147,993","1,161,066",NaN,"1,171,307","1,174,283 1,167,069","1,177,073",NaN,"1,190,606","1,199,789",6.5,NaN,6.5,6.5,6.5 6.4,NaN,6.4,6.4,6.4
26,Iowa ..........................,"172,410","175,098",NaN,"177,491","178,238 176,443","177,667",NaN,"179,944","181,007",1.0,NaN,1.0,1.0,1.0 1.0,NaN,1.0,1.0,1.0
27,Kansas ......................,"148,490","152,674",NaN,"153,489","152,725 151,833","152,822",NaN,"153,801","154,574",0.8,NaN,0.9,0.9,0.8 0.8,NaN,0.8,0.8,0.8
28,Minnesota ..................,"324,022","324,510",NaN,"326,873","331,926 329,008","331,958",NaN,"338,304","341,318",1.8,NaN,1.8,1.8,1.8 1.8,NaN,1.8,1.8,1.8
29,Missouri .....................,"288,381","292,194",NaN,"294,997","295,298 297,412","299,897",NaN,"301,824","304,431",1.6,NaN,1.6,1.6,1.6 1.6,NaN,1.6,1.6,1.6
30,Nebraska ...................,"111,411","113,604",NaN,"114,836","113,982 113,782","114,805",NaN,"116,025","116,769",0.6,NaN,0.6,0.6,0.6 0.6,NaN,0.6,0.6,0.6
31,North Dakota ...............,"57,402","56,560",NaN,"55,719","54,027 51,450","52,015",NaN,"52,096","52,796",0.3,NaN,0.3,0.3,0.3 0.3,NaN,0.3,0.3,0.3
32,South Dakota ..............,"45,878","46,426",NaN,"47,903","48,086 47,142","47,908",NaN,"48,612","48,893",0.3,NaN,0.3,0.3,0.3 0.3,NaN,0.3,0.3,0.3
33,Southeast .....................,"3,745,076","3,794,648",NaN,"3,840,495","3,872,660 3,881,685","3,914,726",NaN,"3,964,744","4,005,534",21.2,21.2,NaN,21.3,21.4 21.4,21.3,NaN,21.4,21.4
34,Alabama ....................,"196,820","199,677",NaN,"201,498","201,926 202,298","204,232",NaN,"205,307","207,608",1.1,NaN,1.1,1.1,1.1 1.1,NaN,1.1,1.1,1.1
35,Arkansas ...................,"117,064","118,592",NaN,"119,560","119,492 119,920","120,704",NaN,"120,683","121,448",0.7,NaN,0.7,0.7,0.7 0.7,NaN,0.7,0.7,0.6
36,Florida ........................,"866,212","875,944",NaN,"889,512","903,778 906,448","917,885",NaN,"935,927","947,007",4.9,NaN,4.9,4.9,5.0 5.0,NaN,5.0,5.0,5.0
37,Georgia .....................,"491,481","498,673",NaN,"505,437","510,496 520,453","520,479",NaN,"527,705","532,805",2.8,NaN,2.8,2.8,2.8 2.9,NaN,2.8,2.8,2.8
38,Kentucky ...................,"188,148","191,427",NaN,"193,072","194,942 191,394","195,685",NaN,"199,550","201,545",1.1,NaN,1.1,1.1,1.1 1.1,NaN,1.1,1.1,1.1
39,Louisiana ....................,"239,704","239,172",NaN,"238,492","234,932 233,388","234,573",NaN,"234,905","237,569",1.4,NaN,1.3,1.3,1.3 1.3,NaN,1.3,1.3,1.3
40,Mississippi .................,"104,325","105,635",NaN,"106,684","106,841 107,425","107,397",NaN,"107,683","108,215",0.6,NaN,0.6,0.6,0.6 0.6,NaN,0.6,0.6,0.6
41,North Carolina ..............,"490,176","496,874",NaN,"503,657","508,257 509,358","514,182",NaN,"521,265","526,809",2.8,NaN,2.8,2.8,2.8 2.8,NaN,2.8,2.8,2.8
42,South Carolina ............,"197,475","200,135",NaN,"203,438","206,274 206,715","209,032",NaN,"210,589","212,529",1.1,NaN,1.1,1.1,1.1 1.1,NaN,1.1,1.1,1.1
43,Tennessee ..................,"309,207","314,661",NaN,"319,867","322,900 323,864","326,262",NaN,"330,988","333,966",1.7,NaN,1.8,1.8,1.8 1.8,NaN,1.8,1.8,1.8
44,Virginia .......................,"471,999","479,776",NaN,"485,306","489,805 488,650","491,669",NaN,"496,244","500,833",2.7,NaN,2.7,2.7,2.7 2.7,NaN,2.7,2.7,2.7
45,West Virginia ..............,"72,465","74,081",NaN,"73,971","73,019 71,772","72,625",NaN,"73,898","75,199",0.4,NaN,0.4,0.4,0.4 0.4,NaN,0.4,0.4,0.4
46,Southwest ....................,"2,192,658","2,194,494",NaN,"2,185,231","2,163,126 2,155,605","2,178,893",NaN,"2,207,112","2,242,336",12.4,12.3,NaN,12.1,11.9 11.9,11.9,NaN,11.9,12.0
47,Arizona .......................,"287,190","290,463",NaN,"292,540","295,597 296,314","299,626",NaN,"306,764","309,103",1.6,NaN,1.6,1.6,1.6 1.6,NaN,1.6,1.7,1.6
48,New Mexico ................,"93,025","93,799",NaN,"93,713","92,383 91,496","92,931",NaN,"93,784","94,974",0.5,NaN,0.5,0.5,0.5 0.5,NaN,0.5,0.5,0.5
49,Oklahoma ...................,"191,872","189,264",NaN,"187,795","183,112 180,399","182,688",NaN,"183,061","185,602",1.1,NaN,1.1,1.0,1.0 1.0,NaN,1.0,1.0,1.0
50,Texas .........................,"1,620,571","1,620,968",NaN,"1,611,183","1,592,033 1,587,395","1,603,648",NaN,"1,623,503","1,652,657",9.2,NaN,9.1,8.9,8.8 8.7,NaN,8.7,8.7,8.8
51,Rocky Mountain ............,"605,555","613,147",NaN,"616,369","617,524 619,325","624,954",NaN,"636,667","643,739",3.4,NaN,3.4,3.4,3.4 3.4,NaN,3.4,3.4,3.4
52,Colorado ....................,"309,993","313,303",NaN,"314,546","315,475 316,481","320,634",NaN,"327,333","330,319",1.8,NaN,1.8,1.7,1.7 1.7,NaN,1.7,1.8,1.8
53,Idaho ..........................,"64,856","65,342",NaN,"65,884","65,760 66,010","66,927",NaN,"67,714","68,450",0.4,NaN,0.4,0.4,0.4 0.4,NaN,0.4,0.4,0.4
54,Montana .....................,"45,186","46,207",NaN,"46,119","45,868 45,789","45,642",NaN,"46,041","46,506",0.3,NaN,0.3,0.3,0.3 0.3,NaN,0.2,0.2,0.2
55,Utah ..........................,"145,982","148,314",NaN,"150,215","151,884 153,422","154,182",NaN,"157,802","160,002",0.8,NaN,0.8,0.8,0.8 0.8,NaN,0.8,0.9,0.9
56,Wyoming ....................,"39,538","39,981",NaN,"39,604","38,537 37,622","37,569",NaN,"37,777","38,463",0.2,NaN,0.2,0.2,0.2 0.2,NaN,0.2,0.2,0.2
57,Far West ......................,"3,366,368","3,419,789",NaN,"3,450,939","3,481,350 3,512,447","3,552,236",NaN,"3,610,452","3,650,211",19.1,19.1,NaN,19.1,19.2 19.3,19.4,NaN,19.5,19.5
58,Alaska ........................,"53,997","54,615",NaN,"53,155","51,770 50,059","50,545",NaN,"50,742","51,506",0.3,NaN,0.3,0.3,0.3 0.3,NaN,0.3,0.3,0.3
59,California ....................,"2,444,063","2,485,470",NaN,"2,505,638","2,531,304 2,545,953","2,581,572",NaN,"2,627,083","2,656,080",13.8,13.9,NaN,13.9,14.0 14.0,14.1,NaN,14.2,14.2
60,Hawaii .......................,"79,538","80,302",NaN,"80,907","81,650 82,904","83,548",NaN,"84,325","84,889",0.5,NaN,0.4,0.4,0.5 0.5,NaN,0.5,0.5,0.5
61,Nevada ......................,"137,533","140,194",NaN,"142,952","143,602 143,572","145,068",NaN,"149,913","151,348",0.8,NaN,0.8,0.8,0.8 0.8,NaN,0.8,0.8,0.8
62,Oregon .......................,"212,763","214,687",NaN,"218,660","219,979 224,181","225,947",NaN,"227,316","229,837",1.2,NaN,1.2,1.2,1.2 1.2,NaN,1.2,1.2,1.2
63,Washington ................,"438,475","444,522",NaN,"449,627","453,045 465,779","465,556",NaN,"471,073","476,550",2.5,NaN,2.5,2.5,2.5 2.6,NaN,2.5,2.5,2.5

### It looks like the tables with more than one year are even messier. It will probably be best to treat 2014 as a unique year and then write a class for the 2015 - 2020 data since those all have multiple years in one table.