In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

###
import matplotlib.pyplot as plt

# Import inflation function from GDP Housing Analysis
from common_functions import inflation_adjust_to2019

In [7]:
# get inflation data
inf_data = pd.read_csv("../dataset/1995inflation.csv")
inf_data

    year  amount  inflation rate  cumulative
0   1995    1.00          0.0000      0.0000
1   1996    1.03          0.0295      0.0295
2   1997    1.05          0.0229      0.0531
3   1998    1.07          0.0156      0.0696
4   1999    1.09          0.0221      0.0932
5   2000    1.13          0.0336      0.1299
6   2001    1.16          0.0285      0.1621
7   2002    1.18          0.0158      0.1804
8   2003    1.21          0.0228      0.2073
9   2004    1.24          0.0266      0.2395
10  2005    1.28          0.0339      0.2815
11  2006    1.32          0.0323      0.3228
12  2007    1.36          0.0285      0.3605
13  2008    1.41          0.0384      0.4127
14  2009    1.41         -0.0036      0.4077
15  2010    1.43          0.0164      0.4308
16  2011    1.48          0.0316      0.4760
17  2012    1.51          0.0207      0.5065
18  2013    1.53          0.0146      0.5286
19  2014    1.55          0.0162      0.5534
20  2015    1.56          0.0012      0.5552
21  2016    1.57          0.0126      0.5748
22  2017    1.61          0.0213      0.6084
23  2018    1.65          0.0249      0.6485
24  2019    1.68          0.0176      0.6775
25  2020    1.71          0.0181      0.7079

In [8]:
# get GDP data
gdp_data = pd.read_csv("../DataSetDiscovery/yearlyGDPbyState.csv")
gdp_data

     Unnamed: 0  year          state  current dollars      GDP        GDP_area
0             0  1995         Alaska             2001   24,791        Far West
1             1  1995        Alabama             2001   95,514       Southeast
2             2  1995       Arkansas             2001   53,809       Southeast
3             3  1995        Arizona             2001  104,586       Southwest
4             4  1995     California             2001  925,931        Far West
..          ...   ...            ...              ...      ...             ...
913         913  2013        Vermont             2014   28,838     New England
914         914  2013     Washington             2014  407,160        Far West
915         915  2013      Wisconsin             2014  284,728     Great Lakes
916         916  2013  West Virginia             2014   70,595       Southeast
917         917  2013        Wyoming             2014   41,782  Rocky Mountain

[918 rows x 6 columns]

In [9]:
# get evictions data
evc_data = pd.read_csv(r'../DataSet/va_eviction_cities.csv',header=0,encoding = "ISO-8859-1")
evc_data

,GEOID,year,name,parent-location,population,poverty-rate,renter-occupied-households,pct-renter-occupied,median-gross-rent,median-household-income,...,pct-nh-pi,pct-multiple,pct-other,eviction-filings,evictions,eviction-rate,eviction-filing-rate,low-flag,imputed,subbed
0,5100148,2000,Abingdon,Virginia,7780.0,10.06,1398.75,41.94,440.0,30976.0,...,0.01,0.58,0.05,29.86,28.86,2.06,2.13,0,0,0
1,5100148,2001,Abingdon,Virginia,7780.0,10.06,1438.06,41.94,440.0,30976.0,...,0.01,0.58,0.05,38.50,33.80,2.35,2.68,0,0,0
2,5100148,2002,Abingdon,Virginia,7780.0,10.06,1474.88,41.94,440.0,30976.0,...,0.01,0.58,0.05,61.25,47.14,3.20,4.15,0,0,0
3,5100148,2003,Abingdon,Virginia,7780.0,10.06,1514.18,41.94,440.0,30976.0,...,0.01,0.58,0.05,53.00,31.00,2.05,3.50,0,0,0
4,5100148,2004,Abingdon,Virginia,7780.0,10.06,1552.00,41.94,440.0,30976.0,...,0.01,0.58,0.05,84.20,57.86,3.73,5.43,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10118,5188240,2012,Yorktown,Virginia,130.0,0.00,46.20,51.06,1000.0,62750.0,...,0.00,11.54,0.00,0.70,0.70,1.52,1.52,0,0,0
10119,5188240,2013,Yorktown,Virginia,130.0,0.00,46.90,51.06,1000.0,62750.0,...,0.00,11.54,0.00,0.70,0.00,0.00,1.49,0,0,0
10120,5188240,2014,Yorktown,Virginia,130.0,0.00,47.60,51.06,1000.0,62750.0,...,0.00,11.54,0.00,2.80,0.00,0.00,5.88,1,0,0
10121,5188240,2015,Yorktown,Virginia,130.0,0.00,49.00,51.06,1000.0,62750.0,...,0.00,11.54,0.00,2.80,0.00,0.00,5.71,1,0,0
10122,5188240,2016,Yorktown,Virginia,130.0,0.00,49.70,51.06,1000.0,62750.0,...,0.00,11.54,0.00,2.80,0.70,1.41,5.63,1,0,0